<div class="container">
  <h2 class="title-decor">Our <span>Trainers</span></h2>
  <p class="slogan"></p>
  <div class="row">
    <div class="col-md-6 out-trainer-col">
      <div class="out-trainer-item">
        <a href="trainer.html-1.htm" class="out-trainer-img"
          ><img src="/assets/img/trainer-1.jpg" alt="img"
        /></a>
        <div class="out-trainer-info">
          <h3><a href="trainer.html-1.htm">Marcéll Fourie</a></h3>
          <div class="prof">Owner / Coach</div>
          <p>Marcéll has been working in the industry for two decades.</p>
          <ul class="social-list">
            <li>
              <a target="_blank" href="https://www.facebook.com/rovadex"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/RovadexStudio"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="https://www.youtube.com"
                ><i class="fa fa-youtube" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="https://www.instagram.com/rovadex"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 out-trainer-col">
      <div class="out-trainer-item">
        <a href="trainer.html-1.htm" class="out-trainer-img"
          ><img src="/assets/img/trainer-2.jpg" alt="img"
        /></a>
        <div class="out-trainer-info">
          <h3><a href="trainer.html-1.htm">kim piters</a></h3>
          <div class="prof">Weightlifting</div>
          <p>
            Maecenas consequat ex id lobortis venenatis. Mauris id erat enim.
            Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.
          </p>
          <ul class="social-list">
            <li>
              <a target="_blank" href="https://www.facebook.com/rovadex"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/RovadexStudio"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="https://www.youtube.com"
                ><i class="fa fa-youtube" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="https://www.instagram.com/rovadex"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 out-trainer-col">
      <div class="out-trainer-item">
        <a href="trainer.html-1.htm" class="out-trainer-img"
          ><img src="/assets/img/trainer-3.jpg" alt="img"
        /></a>
        <div class="out-trainer-info">
          <h3><a href="trainer.html-1.htm">Samanta piters</a></h3>
          <div class="prof">Weightlifting</div>
          <p>
            Maecenas consequat ex id lobortis venenatis. Mauris id erat enim.
            Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.
          </p>
          <ul class="social-list">
            <li>
              <a target="_blank" href="https://www.facebook.com/rovadex"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/RovadexStudio"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="https://www.youtube.com"
                ><i class="fa fa-youtube" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="https://www.instagram.com/rovadex"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 out-trainer-col">
      <div class="out-trainer-item">
        <a href="trainer.html-1.htm" class="out-trainer-img"
          ><img src="/assets/img/trainer-4.jpg" alt="img"
        /></a>
        <div class="out-trainer-info">
          <h3><a href="trainer.html-1.htm">artur piters</a></h3>
          <div class="prof">Weightlifting</div>
          <p>
            Maecenas consequat ex id lobortis venenatis. Mauris id erat enim.
            Morbi dolor dolor, auctor tincidunt lorem ut, venenatis dapibus miq.
          </p>
          <ul class="social-list">
            <li>
              <a target="_blank" href="https://www.facebook.com/rovadex"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/RovadexStudio"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="https://www.youtube.com"
                ><i class="fa fa-youtube" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a target="_blank" href="https://www.instagram.com/rovadex"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
